.user-name {
        position: relative;
        width: 90%;
        border-bottom: 1.5px solid white;
        border-top: 1.5px solid white;
        border-radius: .1rem;
        margin: 3rem auto;
        //color: white;

    &__title {
        font-family: 'Pacifico', cursive;
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: .2rem;
        padding: 1rem;
        width: fit-content;
        margin: 0 auto;
        position: relative;
        color: white;

        &.show-domain::after{
            content: "dlopezcastellote.dev";
            font-size: 40%;
            position: absolute;
            bottom: 0;
            left: 80%;
            opacity: .6;
        }
    }
}

@keyframes colorTexto{
    to{
        background-position: 0 0;
        //background: linear-gradient(to right, white 0%, #61bdc5 30%, #24909c 50%, #61bdc5 70%, white 100%) 100% 0 / 200% 200% white;
        background: rgb(36,144,156);
        background: rgb(255,255,255);
        //background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(102,191,199,1) 50%, rgba(255,255,255,1) 100%);
        background: linear-gradient(90deg, rgba(19,243,185,1) 0%, rgba(88,120,243,1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
    }
}

@media all and ( max-width: 450px ){
    .user-name {
        &__title {
            margin-left: 10%;
        }
    }
}