.about-page{
    color: white;

    main{
        margin: 0 10%;
        text-align: center;

        .imagen-yo{
            border-radius: 50%;
            max-width: 300px;
            margin: 20px;
        }
    }
}