/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/tomorrow-night-blue.min.css');

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

:root {
  --primary-color: #24909c;
  --secondary-color: #206c75;
  --tertiary-color: #61bdc5;
  --amarillo: #fdbb2d;
  --quaternary-color: #86f3fc;
  --fifth-color: rgb(19,243,185);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 2.3rem;
}