/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import "../style/mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 2.3rem;
}

// Para links dentro de párrafos, listas, etc. que se sobrepasan del contenedor si no les ponemos esto
p, li{
  @include word-wrap;
}

.btn-wrapper{
  text-align: center;
}

.btn-primary{
  font-family: inherit;
  font-size: 2rem;
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  //letter-spacing: 2px;
  // background-color: var(--tertiary-color);
  // border: 4px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  border: 4px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 1px 3px 6px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 6px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 3px 6px -2px rgba(0,0,0,0.75);
  font-weight: bold;
}

a.btn-primary{
  display: inline-block;
  text-decoration: none;
}

.btn-primary:hover{
  cursor: pointer;
  transform: translateY(-.2rem);
  -webkit-box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 5px 9px -2px rgba(0,0,0,0.75);
}

.underline{
  text-decoration: underline;
}