.footer{
    width: 90;

    .copyright{
        font-family: 'Pacifico', cursive;
        width: 90%;
        margin: 3rem auto;
        text-align: center;
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        border-top: 1px solid white;
        padding-top: 1rem;
    }
}