.footer{
    color: white;
    width: 90;

    .copyright{
        font-family: 'Pacifico', cursive;
        width: 90%;
        margin: 2rem auto;
        text-align: center;
        font-weight: 100;
        letter-spacing: 1px;
        border-top: 1px solid white;
        padding-top: 1rem;
    }

    .oos-site{
        font-size: 2rem;
        width: 90%;
        text-align: center;
        margin: 2rem auto;
    }
}