.form-send-wrapper{
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

    .form-send-card{
        display: flex;
        align-items: center;
        padding: 2rem;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        background-color: tomato;
        text-align: center;
        border-radius: .6rem;
        min-height: 10rem;
        -webkit-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 9px -2px rgba(0,0,0,0.75);
    }
}