
.texto-gradiente-1{
    width: fit-content;
    color: transparent;
    background: rgb(19,243,185);
    background: linear-gradient(90deg, rgba(19,243,185,1) 0%, rgba(88,120,243,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .texto-gradiente-2{
    width: fit-content;
    color: transparent;
    background: rgba(88,120,243,1);
    background: linear-gradient(270deg, rgba(88,120,243,1) 0%, rgba(253,187,45,1) 70%);
    -webkit-background-clip: text;
    background-clip: text;
  }