.blog-page{
    width: 95%;
    margin: 2rem auto;

    & ul.posts-list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-around;
    }

    // Por defecto los enlaces (en modo hover) tienen subrayado, lo quitamos
    stencil-route-link a:link{
        text-decoration: none;
    }

}

.posts-list__item{
    background-color: var(--secondary-color);
    border-radius: 8px;
    margin-bottom: 2rem;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 36px -15px rgba(97,189,197,1);
    -moz-box-shadow: 0px 7px 36px -15px rgba(97,189,197,1);
    box-shadow: 0px 7px 36px -15px rgba(97,189,197,1);
    font-size: 1.8rem;
    -webkit-animation: fadeIn 1s linear;
    animation: fadeIn 1s linear;

    & image-filter::part(img){
        padding-top: 56.25%;
    }
}

.posts-list__item-title{
    padding: 1rem 1.5rem .3rem 1.5rem;
    color: var(--quaternary-color);
}

.posts-list__item-date{
    font-weight: bold;
    margin-top: .5rem;
    padding: .3rem 1.5rem;
}

.posts-list__item-summary{
    text-align: justify;
    color: white;
    font-size: 1.6rem;
    margin-top: .5rem;
    padding: .3rem 1.5rem;
    padding-bottom: 2rem;
}

.pager{
    position: relative;
    min-height: 4rem;

    & a[class*="pager__"]{
        text-decoration: underline;
    }

    &__next{
        cursor: pointer;
        position: absolute !important;
        right: 0;
    }
    &__prev{
        cursor: pointer;
        position: absolute !important;
        left: 0;
    }
}

@media all and( min-width: 1124px ){
    .blog-page{
        width: 90%;
    }
}

@media all and ( min-width: 768px ){
    .blog-page ul.posts-list{
        flex-flow: row;
        flex-wrap: wrap;
    }

    .posts-list__item{
        width: 45%;
    }

}

@media all and ( max-width: 768px ) and ( min-width: 500px ) {
    .blog-page{
        width: 70%;
    }
}

@media screen and ( hover: hover ){
    .pager{
        & a[class*="pager__"]{
            text-decoration: none;
        }

    }
}

/* Fading entrances  */
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }